<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h1>About</h1>

		<header>
			<h2>Marvie Gasataya</h2>
		</header>
		<p>The author is currently enrolled in the Database Application Developer program with the Student ID number of 133055228.</p>
		
		<!-- End your code here  -->

	</main>
</div>