<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<h1>Welcome to my website</h1>
		<p>This is the home page where I will be demonstrating HTML5 principles and techniques & Routing in Express</p>

		<header>
			<h2>Website Demo Links</h2>
		</header>
		<p>
			This site consists of 3 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that 
			supply data , including:
		</p>
		<ul>
			<li><a href="/students">All Students</a></li>
			<li><a href="/students?course=2">Students by Course</a></li>
			<li><a href="/student/235">A Single Student By Student Number</a></li>
			<li><a href="/courses">All Courses</a></li>
		</ul>
		


		<header>
			<h2>Technology/Framework Used</h2>
		</header>
		<p>
			This site utilizes HTML5: a markup language used for structuringand presenting content on the World Wide Web.
			Express is the web application framework that is used to handle requests and routing.
		</p>
		

		<!-- End your code here  -->

	</main>
</div>